h1 {
    text-align: center;
    font-size: 20px;
    color: #0d5c5b;
    background-color: #F9F9F9;
    border-radius: 12px;
    padding: 7px;
    margin-top: 10px;
}
#identity2 {
    font-size: 20px;
    background-color: #09464c;
    padding: 12px;
    margin-top: 12px;
    border-radius: 12px;
    color: #f5f7f5;
}
#list {
    background-color: #f5f7f5;
    font-size: 20px;
}
li {
    font-size: larger;
    font-weight: bold;
    background-color:#f5f7f542;
    color: black;
    direction: rtl;
    unicode-bidi: isolate;
    text-align: right;
}
p {
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 12px;
    margin-top: 12px;
    padding: 7px;
}
#identity3 {
    font-size: 19px;
    font-style: italic;
    background-color: #005C53;
    color: white;
    border-radius: 12px;
    padding: 10px;
    margin-top: 10px;
}
#conclusion {
    background-color: #f5f7f5;
    font-size: 19px;
    font-weight: 198;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 7px;
}
